.headerContainer {
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: auto;
    padding: 20px;
    color: rgb(16, 16, 16);
  }
  
  .heading {
    font-style: italic;
    color: whitesmoke;
  }
  
  .image {
    width: 100%;
    position: relative;
  }